In [4]:
import pandas as pd 
import numpy as np 

from sklearn import preprocessing
from sklearn import metrics

from sklearn.utils import resample

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier
from imblearn.over_sampling import SMOTE
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from imblearn.combine import SMOTEENN

import fancyimpute

import matplotlib.pyplot as plt 
import seaborn as sns

In [179]:
df= pd.read_csv("Training_Dataset.csv")

In [180]:
df.head()

,cm_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,mvar48,mvar49,mvar50,mvar51
0,1,Charge,0,106920,4,18,970,0.7969,0.1831,337236,...,0,0,0,0,0,0,1,0,0,0
1,2,Charge,2,0,4,19,1030,0.0678,0.0000,2918974,...,0,0,0,0,1,0,0,0,0,0
2,3,Charge,2,399168,4,35,327,0.7551,0.2986,498656,...,0,0,0,0,0,0,1,0,0,0
3,4,Charge,0,267300,4,274,1258,0.7969,0.5297,2480074,...,0,1,0,0,0,0,1,0,0,1
4,5,Charge,0,213840,6,1,0,2.3238,0.0000,2918974,...,0,0,0,0,1,0,0,1,0,0

In [181]:
spend = df.mvar36 + df.mvar37 + df.mvar38 + df.mvar39 +df.mvar32 + df.mvar33 + df.mvar34 + df.mvar35 +df.mvar28 + df.mvar29 + df.mvar30 + df.mvar31+df.mvar24 + df.mvar25 + df.mvar26 + df.mvar27+df.mvar28 + df.mvar29 + df.mvar30 + df.mvar31
df["spend"]=spend

In [182]:
income = df["mvar9"][df.mvar9>0]

In [183]:
df.mvar9.replace(to_replace=0, value=np.nan, inplace=True)

In [184]:
df.mvar3.replace(to_replace=0, value=np.nan, inplace=True)

In [185]:
df.drop(df.columns[16:49].values, axis=1, inplace=True)

In [186]:
df.drop("mvar1", axis=1, inplace=True)

In [187]:
df.mvar50 = df.mvar50*2
df.mvar51= df.mvar51*3

In [188]:
df["card_accepted"]= df.mvar49+df.mvar50+df.mvar51

In [189]:
card= df.card_accepted

In [190]:
df.drop(["mvar49","mvar50","mvar51"], axis=1, inplace=True)

In [191]:

df.spend = (df.spend- df.spend.mean())/df.spend.std()

In [192]:
df.describe()

,cm_key,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,mvar11,mvar13,mvar14,mvar15,spend,card_accepted
count,40000.00000,40000.000000,15646.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,3.839500e+04,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,4.000000e+04,40000.000000
mean,20000.50000,1.117150,116343.140803,3.224150,89.264475,906.684950,0.726782,0.167726,2.082067e+06,0.329925,3.384588,11.993125,1.046025,0.329175,1.543703e-15,0.427150
std,11547.14972,1.656335,103311.603420,2.324337,92.247710,921.135812,1.262927,0.206095,3.895671e+06,0.470191,1.890469,3.274286,0.422328,0.772550,1.000000e+00,0.891046
min,1.00000,0.000000,445.000000,0.000000,1.000000,0.000000,0.000100,0.000000,6.000000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,-1.320092e-01,0.000000
25%,10000.75000,0.000000,37422.000000,2.000000,16.000000,327.000000,0.106000,0.000000,1.476990e+05,0.000000,1.753100,10.000000,1.000000,0.000000,-1.189555e-01,0.000000
50%,20000.50000,0.000000,89812.000000,3.000000,53.000000,586.000000,0.382000,0.115500,8.720850e+05,0.000000,3.220350,12.000000,1.000000,0.000000,-9.581564e-02,0.000000
75%,30000.25000,2.000000,160380.000000,4.000000,134.000000,1197.000000,0.796900,0.268200,2.918974e+06,1.000000,5.011550,14.000000,1.000000,0.000000,-3.146557e-02,0.000000
max,40000.00000,11.000000,434629.000000,12.000000,355.000000,4830.000000,10.000000,0.883100,3.420702e+07,1.000000,7.001000,23.000000,9.000000,5.000000,1.228794e+02,3.000000

In [193]:
le2 = preprocessing.LabelEncoder()
df.mvar12 = le2.fit_transform(df.mvar12)

In [194]:
impute_missing = df.iloc[:,:-1]
impute_missing_cols = list(impute_missing)
filled_soft = fancyimpute.MICE().complete(np.array(impute_missing))
df = pd.DataFrame(filled_soft, columns = impute_missing_cols)

[MICE] Completing matrix with shape (40000, 16)
[MICE] Starting imputation round 1/110, elapsed time 0.005
[MICE] Starting imputation round 2/110, elapsed time 0.265
[MICE] Starting imputation round 3/110, elapsed time 0.341
[MICE] Starting imputation round 4/110, elapsed time 0.412
[MICE] Starting imputation round 5/110, elapsed time 0.500
[MICE] Starting imputation round 6/110, elapsed time 0.570
[MICE] Starting imputation round 7/110, elapsed time 0.663
[MICE] Starting imputation round 8/110, elapsed time 0.693
[MICE] Starting imputation round 9/110, elapsed time 0.773
[MICE] Starting imputation round 10/110, elapsed time 0.831
[MICE] Starting imputation round 11/110, elapsed time 0.868
[MICE] Starting imputation round 12/110, elapsed time 0.969
[MICE] Starting imputation round 13/110, elapsed time 1.054
[MICE] Starting imputation round 14/110, elapsed time 1.122
[MICE] Starting imputation round 15/110, elapsed time 1.202
[MICE] Starting imputation round 16/110, elapsed time 1.294
[MICE] Starting imputation round 17/110, elapsed time 1.378
[MICE] Starting imputation round 18/110, elapsed time 1.426
[MICE] Starting imputation round 19/110, elapsed time 1.483
[MICE] Starting imputation round 20/110, elapsed time 1.546
[MICE] Starting imputation round 21/110, elapsed time 1.602
[MICE] Starting imputation round 22/110, elapsed time 1.716
[MICE] Starting imputation round 23/110, elapsed time 1.789
[MICE] Starting imputation round 24/110, elapsed time 1.861
[MICE] Starting imputation round 25/110, elapsed time 1.916
[MICE] Starting imputation round 26/110, elapsed time 2.003
[MICE] Starting imputation round 27/110, elapsed time 2.075
[MICE] Starting imputation round 28/110, elapsed time 2.143
[MICE] Starting imputation round 29/110, elapsed time 2.211
[MICE] Starting imputation round 30/110, elapsed time 2.310
[MICE] Starting imputation round 31/110, elapsed time 2.395
[MICE] Starting imputation round 32/110, elapsed time 2.455
[MICE] Starting imputation round 33/110, elapsed time 2.497
[MICE] Starting imputation round 34/110, elapsed time 2.585
[MICE] Starting imputation round 35/110, elapsed time 2.658
[MICE] Starting imputation round 36/110, elapsed time 2.747
[MICE] Starting imputation round 37/110, elapsed time 2.845
[MICE] Starting imputation round 38/110, elapsed time 2.890
[MICE] Starting imputation round 39/110, elapsed time 2.930
[MICE] Starting imputation round 40/110, elapsed time 2.966
[MICE] Starting imputation round 41/110, elapsed time 3.023
[MICE] Starting imputation round 42/110, elapsed time 3.074
[MICE] Starting imputation round 43/110, elapsed time 3.138
[MICE] Starting imputation round 44/110, elapsed time 3.212
[MICE] Starting imputation round 45/110, elapsed time 3.284
[MICE] Starting imputation round 46/110, elapsed time 3.352
[MICE] Starting imputation round 47/110, elapsed time 3.418
[MICE] Starting imputation round 48/110, elapsed time 3.453
[MICE] Starting imputation round 49/110, elapsed time 3.510
[MICE] Starting imputation round 50/110, elapsed time 3.551
[MICE] Starting imputation round 51/110, elapsed time 3.599
[MICE] Starting imputation round 52/110, elapsed time 3.649
[MICE] Starting imputation round 53/110, elapsed time 3.716
[MICE] Starting imputation round 54/110, elapsed time 3.838
[MICE] Starting imputation round 55/110, elapsed time 3.915
[MICE] Starting imputation round 56/110, elapsed time 4.038
[MICE] Starting imputation round 57/110, elapsed time 4.133
[MICE] Starting imputation round 58/110, elapsed time 4.208
[MICE] Starting imputation round 59/110, elapsed time 4.300
[MICE] Starting imputation round 60/110, elapsed time 4.360
[MICE] Starting imputation round 61/110, elapsed time 4.394
[MICE] Starting imputation round 62/110, elapsed time 4.451
[MICE] Starting imputation round 63/110, elapsed time 4.515
[MICE] Starting imputation round 64/110, elapsed time 4.577
[MICE] Starting imputation round 65/110, elapsed time 4.620
[MICE] Starting imputation round 66/110, elapsed time 4.657
[MICE] Starting imputation round 67/110, elapsed time 4.696
[MICE] Starting imputation round 68/110, elapsed time 4.744
[MICE] Starting imputation round 69/110, elapsed time 4.790
[MICE] Starting imputation round 70/110, elapsed time 4.831
[MICE] Starting imputation round 71/110, elapsed time 4.881
[MICE] Starting imputation round 72/110, elapsed time 4.942
[MICE] Starting imputation round 73/110, elapsed time 5.033
[MICE] Starting imputation round 74/110, elapsed time 5.068
[MICE] Starting imputation round 75/110, elapsed time 5.099
[MICE] Starting imputation round 76/110, elapsed time 5.128
[MICE] Starting imputation round 77/110, elapsed time 5.198
[MICE] Starting imputation round 78/110, elapsed time 5.262
[MICE] Starting imputation round 79/110, elapsed time 5.330
[MICE] Starting imputation round 80/110, elapsed time 5.392
[MICE] Starting imputation round 81/110, elapsed time 5.450
[MICE] Starting imputation round 82/110, elapsed time 5.510
[MICE] Starting imputation round 83/110, elapsed time 5.576
[MICE] Starting imputation round 84/110, elapsed time 5.633
[MICE] Starting imputation round 85/110, elapsed time 5.708
[MICE] Starting imputation round 86/110, elapsed time 5.809
[MICE] Starting imputation round 87/110, elapsed time 5.866
[MICE] Starting imputation round 88/110, elapsed time 5.908
[MICE] Starting imputation round 89/110, elapsed time 5.945
[MICE] Starting imputation round 90/110, elapsed time 5.997
[MICE] Starting imputation round 91/110, elapsed time 6.059
[MICE] Starting imputation round 92/110, elapsed time 6.129
[MICE] Starting imputation round 93/110, elapsed time 6.195
[MICE] Starting imputation round 94/110, elapsed time 6.231
[MICE] Starting imputation round 95/110, elapsed time 6.313
[MICE] Starting imputation round 96/110, elapsed time 6.382
[MICE] Starting imputation round 97/110, elapsed time 6.508
[MICE] Starting imputation round 98/110, elapsed time 6.598
[MICE] Starting imputation round 99/110, elapsed time 6.670
[MICE] Starting imputation round 100/110, elapsed time 6.706
[MICE] Starting imputation round 101/110, elapsed time 6.761
[MICE] Starting imputation round 102/110, elapsed time 6.811
[MICE] Starting imputation round 103/110, elapsed time 6.847
[MICE] Starting imputation round 104/110, elapsed time 6.890
[MICE] Starting imputation round 105/110, elapsed time 6.952
[MICE] Starting imputation round 106/110, elapsed time 7.067
[MICE] Starting imputation round 107/110, elapsed time 7.139
[MICE] Starting imputation round 108/110, elapsed time 7.206
[MICE] Starting imputation round 109/110, elapsed time 7.280
[MICE] Starting imputation round 110/110, elapsed time 7.377

In [295]:
# taking log
df.mvar9 = np.log(df.mvar9)

# normalizing
# std_scale = preprocessing.StandardScaler().fit(df3.mvar9)
# df3.mvar9 = std_scale.transform(df3.mvar9)

In [296]:
df.mvar3 = (df.mvar3 - df.mvar3.mean())/df.mvar3.std()

In [297]:
df["card_accepted"]= card.astype(int)

In [298]:
df.columns

Index([u'mvar2', u'mvar3', u'mvar4', u'mvar5', u'mvar6', u'mvar7', u'mvar8',
       u'mvar9', u'mvar10', u'mvar11', u'mvar12', u'mvar13', u'mvar14',
       u'mvar15', u'spend', u'card_accepted'],
      dtype='object')

In [299]:
df.drop("cm_key", axis=1, inplace=True)

ValueError: labels ['cm_key'] not contained in axis

In [200]:
df3 , test = train_test_split(df, test_size=0.3)

In [201]:
df3_majority = df3[df3.card_accepted==0]
df3_supp = df3[df3.card_accepted==1]
df3_elite = df3[df3.card_accepted==2]
df3_credit = df3[df3.card_accepted==3]
df3_majority.shape

(21748, 16)

In [414]:
df3_majority_downsampled = resample(df3_majority,
                                    replace=False,
                                    n_samples=10000,
                                    random_state=123)

In [415]:
df3_supp_upsampled = resample(df3_supp,
                              replace=True,
                              n_samples=10000,
                              random_state=123)

In [416]:
df3_elite_upsampled = resample(df3_elite,
                               replace=True,
                               n_samples=10000,
                               random_state=123)

In [417]:
df3_credit_upsampled = resample(df3_credit,
                                replace=True,    
                                n_samples=10000,     
                                random_state=123)

In [418]:
df4 = pd.concat([df3_majority_downsampled, df3_supp_upsampled, df3_elite_upsampled, df3_credit_upsampled])
df4.shape

(40000, 16)

In [419]:
x_train = df4.ix[:, :-1]
y_train = df4.ix[:, -1]
x_test = test.ix[:, :-1]
y_test = test.ix[:, -1]

/home/apoorva/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

In [420]:
rfc = RandomForestClassifier(n_estimators=300, class_weight="balanced", oob_score=True, max_features='log2')

In [421]:
rfc.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight='balanced',
            criterion='gini', max_depth=None, max_features='log2',
            max_leaf_nodes=None, min_impurity_split=1e-07,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=300, n_jobs=1,
            oob_score=True, random_state=None, verbose=0, warm_start=False)

In [422]:
y_predicted = rfc.predict(x_test)

In [423]:
print(metrics.accuracy_score(y_test, y_predicted))
print(metrics.confusion_matrix(y_test, y_predicted))
print(metrics.classification_report(y_test, y_predicted))

0.714
[[8103  473  432  366]
 [ 772  175   33   40]
 [ 579    5  162   20]
 [ 643   21   48  128]]
             precision    recall  f1-score   support

          0       0.80      0.86      0.83      9374
          1       0.26      0.17      0.21      1020
          2       0.24      0.21      0.22       766
          3       0.23      0.15      0.18       840

avg / total       0.68      0.71      0.69     12000

In [424]:
xgb = XGBClassifier(
    n_estimators=300,
    max_depth=3,
    min_child_weight=1,
    objective= 'multi:softmax',
 )

In [425]:
xgb.fit(x_train, y_train)

XGBClassifier(base_score=0.5, colsample_bytree=1, gamma=0, learning_rate=0.1,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=300, nthread=-1, objective='multi:softprob', seed=0,
       silent=True, subsample=1)

In [426]:
y_predicted = xgb.predict(x_test)

In [427]:
print(metrics.accuracy_score(y_test, y_predicted))
print(metrics.confusion_matrix(y_test, y_predicted))
print(metrics.classification_report(y_test, y_predicted))

0.367083333333
[[2952 1928 2612 1882]
 [ 187  465  206  162]
 [  90   41  563   72]
 [ 148   87  180  425]]
             precision    recall  f1-score   support

          0       0.87      0.31      0.46      9374
          1       0.18      0.46      0.26      1020
          2       0.16      0.73      0.26       766
          3       0.17      0.51      0.25       840

avg / total       0.72      0.37      0.42     12000

In [428]:
test_df= pd.read_csv("Leaderboard_Dataset.csv")
test_df.head()

,cm_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar36,mvar37,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45
0,50001,Charge,2,0,4,18,460,0.2495,0.2310,180512,...,32886.89,11345.47,7914.21,7704.62,0,0,0,0,0,0
1,50002,Charge,2,0,0,45,381,1.9329,0.7196,11295211,...,104722.52,255544.59,116216.40,152673.00,1,0,0,0,0,0
2,50003,Charge,0,0,4,3,0,0.7969,0.0000,45161,...,19689.03,0.00,0.00,0.00,0,0,0,0,0,0
3,50004,Charge,1,18711,9,89,432,0.1016,0.5074,420972,...,13154.43,7671.62,3357.24,2651.22,0,1,0,0,0,0
4,50005,Charge,0,21384,4,7,0,0.7969,0.2310,880618,...,32071.78,15376.01,14390.97,0.00,0,0,0,0,0,0

In [429]:
test_df= pd.read_csv("Leaderboard_Dataset.csv")

In [430]:
spend = test_df.mvar36 + test_df.mvar37 + test_df.mvar38 + test_df.mvar39 +test_df.mvar32 + test_df.mvar33 + test_df.mvar34 + test_df.mvar35 +test_df.mvar28 + test_df.mvar29 + test_df.mvar30 + test_df.mvar31+test_df.mvar24 + test_df.mvar25 + test_df.mvar26 + test_df.mvar27+test_df.mvar28 + test_df.mvar29 + test_df.mvar30 + test_df.mvar31
test_df["spend"]=spend

test_df.mvar9.replace(to_replace=0, value=np.nan, inplace=True)

test_df.mvar3.replace(to_replace=0, value=np.nan, inplace=True)

test_df.drop(test_df.columns[16:46].values, axis=1, inplace=True)

test_df.drop("mvar1", axis=1, inplace=True)


test_df.spend = (test_df.spend- test_df.spend.mean())/test_df.spend.std()


le2 = preprocessing.LabelEncoder()
test_df.mvar12 = le2.fit_transform(test_df.mvar12)

impute_missing = test_df
impute_missing_cols = list(impute_missing)
filled_soft = fancyimpute.MICE().complete(np.array(impute_missing))
test_df = pd.DataFrame(filled_soft, columns = impute_missing_cols)

# taking log
test_df.mvar9 = np.log(test_df.mvar9)


test_df.mvar3 = (test_df.mvar3 - test_df.mvar3.mean())/test_df.mvar3.std()

[MICE] Completing matrix with shape (10000, 16)
[MICE] Starting imputation round 1/110, elapsed time 0.009
[MICE] Starting imputation round 2/110, elapsed time 0.299
[MICE] Starting imputation round 3/110, elapsed time 0.307
[MICE] Starting imputation round 4/110, elapsed time 0.317
[MICE] Starting imputation round 5/110, elapsed time 0.328
[MICE] Starting imputation round 6/110, elapsed time 0.340
[MICE] Starting imputation round 7/110, elapsed time 0.347
[MICE] Starting imputation round 8/110, elapsed time 0.356
[MICE] Starting imputation round 9/110, elapsed time 0.364
[MICE] Starting imputation round 10/110, elapsed time 0.372
[MICE] Starting imputation round 11/110, elapsed time 0.379
[MICE] Starting imputation round 12/110, elapsed time 0.394
[MICE] Starting imputation round 13/110, elapsed time 0.425
[MICE] Starting imputation round 14/110, elapsed time 0.435
[MICE] Starting imputation round 15/110, elapsed time 0.446
[MICE] Starting imputation round 16/110, elapsed time 0.467
[MICE] Starting imputation round 17/110, elapsed time 0.482
[MICE] Starting imputation round 18/110, elapsed time 0.498
[MICE] Starting imputation round 19/110, elapsed time 0.523
[MICE] Starting imputation round 20/110, elapsed time 0.541
[MICE] Starting imputation round 21/110, elapsed time 0.557
[MICE] Starting imputation round 22/110, elapsed time 0.572
[MICE] Starting imputation round 23/110, elapsed time 0.593
[MICE] Starting imputation round 24/110, elapsed time 0.612
[MICE] Starting imputation round 25/110, elapsed time 0.640
[MICE] Starting imputation round 26/110, elapsed time 0.682
[MICE] Starting imputation round 27/110, elapsed time 0.703
[MICE] Starting imputation round 28/110, elapsed time 0.747
[MICE] Starting imputation round 29/110, elapsed time 0.781
[MICE] Starting imputation round 30/110, elapsed time 0.832
[MICE] Starting imputation round 31/110, elapsed time 0.892
[MICE] Starting imputation round 32/110, elapsed time 0.956
[MICE] Starting imputation round 33/110, elapsed time 1.021
[MICE] Starting imputation round 34/110, elapsed time 1.063
[MICE] Starting imputation round 35/110, elapsed time 1.123
[MICE] Starting imputation round 36/110, elapsed time 1.167
[MICE] Starting imputation round 37/110, elapsed time 1.207
[MICE] Starting imputation round 38/110, elapsed time 1.283
[MICE] Starting imputation round 39/110, elapsed time 1.317
[MICE] Starting imputation round 40/110, elapsed time 1.367
[MICE] Starting imputation round 41/110, elapsed time 1.415
[MICE] Starting imputation round 42/110, elapsed time 1.485
[MICE] Starting imputation round 43/110, elapsed time 1.539
[MICE] Starting imputation round 44/110, elapsed time 1.579
[MICE] Starting imputation round 45/110, elapsed time 1.641
[MICE] Starting imputation round 46/110, elapsed time 1.701
[MICE] Starting imputation round 47/110, elapsed time 1.727
[MICE] Starting imputation round 48/110, elapsed time 1.758
[MICE] Starting imputation round 49/110, elapsed time 1.788
[MICE] Starting imputation round 50/110, elapsed time 1.817
[MICE] Starting imputation round 51/110, elapsed time 1.878
[MICE] Starting imputation round 52/110, elapsed time 1.898
[MICE] Starting imputation round 53/110, elapsed time 1.921
[MICE] Starting imputation round 54/110, elapsed time 1.951
[MICE] Starting imputation round 55/110, elapsed time 1.991
[MICE] Starting imputation round 56/110, elapsed time 2.017
[MICE] Starting imputation round 57/110, elapsed time 2.051
[MICE] Starting imputation round 58/110, elapsed time 2.115
[MICE] Starting imputation round 59/110, elapsed time 2.142
[MICE] Starting imputation round 60/110, elapsed time 2.188
[MICE] Starting imputation round 61/110, elapsed time 2.254
[MICE] Starting imputation round 62/110, elapsed time 2.274
[MICE] Starting imputation round 63/110, elapsed time 2.299
[MICE] Starting imputation round 64/110, elapsed time 2.314
[MICE] Starting imputation round 65/110, elapsed time 2.324
[MICE] Starting imputation round 66/110, elapsed time 2.336
[MICE] Starting imputation round 67/110, elapsed time 2.374
[MICE] Starting imputation round 68/110, elapsed time 2.429
[MICE] Starting imputation round 69/110, elapsed time 2.518
[MICE] Starting imputation round 70/110, elapsed time 2.558
[MICE] Starting imputation round 71/110, elapsed time 2.569
[MICE] Starting imputation round 72/110, elapsed time 2.578
[MICE] Starting imputation round 73/110, elapsed time 2.588
[MICE] Starting imputation round 74/110, elapsed time 2.599
[MICE] Starting imputation round 75/110, elapsed time 2.607
[MICE] Starting imputation round 76/110, elapsed time 2.614
[MICE] Starting imputation round 77/110, elapsed time 2.626
[MICE] Starting imputation round 78/110, elapsed time 2.638
[MICE] Starting imputation round 79/110, elapsed time 2.700
[MICE] Starting imputation round 80/110, elapsed time 2.747
[MICE] Starting imputation round 81/110, elapsed time 2.777
[MICE] Starting imputation round 82/110, elapsed time 2.793
[MICE] Starting imputation round 83/110, elapsed time 2.803
[MICE] Starting imputation round 84/110, elapsed time 2.817
[MICE] Starting imputation round 85/110, elapsed time 2.826
[MICE] Starting imputation round 86/110, elapsed time 2.840
[MICE] Starting imputation round 87/110, elapsed time 2.849
[MICE] Starting imputation round 88/110, elapsed time 2.861
[MICE] Starting imputation round 89/110, elapsed time 2.871
[MICE] Starting imputation round 90/110, elapsed time 2.880
[MICE] Starting imputation round 91/110, elapsed time 2.888
[MICE] Starting imputation round 92/110, elapsed time 2.898
[MICE] Starting imputation round 93/110, elapsed time 2.926
[MICE] Starting imputation round 94/110, elapsed time 2.956
[MICE] Starting imputation round 95/110, elapsed time 2.992
[MICE] Starting imputation round 96/110, elapsed time 3.026
[MICE] Starting imputation round 97/110, elapsed time 3.053
[MICE] Starting imputation round 98/110, elapsed time 3.086
[MICE] Starting imputation round 99/110, elapsed time 3.095
[MICE] Starting imputation round 100/110, elapsed time 3.103
[MICE] Starting imputation round 101/110, elapsed time 3.113
[MICE] Starting imputation round 102/110, elapsed time 3.121
[MICE] Starting imputation round 103/110, elapsed time 3.143
[MICE] Starting imputation round 104/110, elapsed time 3.162
[MICE] Starting imputation round 105/110, elapsed time 3.177
[MICE] Starting imputation round 106/110, elapsed time 3.194
[MICE] Starting imputation round 107/110, elapsed time 3.222
[MICE] Starting imputation round 108/110, elapsed time 3.252
[MICE] Starting imputation round 109/110, elapsed time 3.266
[MICE] Starting imputation round 110/110, elapsed time 3.315

In [431]:
test_df.drop("cm_key", axis=1, inplace=True)

In [432]:
test_df.columns

Index([u'mvar2', u'mvar3', u'mvar4', u'mvar5', u'mvar6', u'mvar7', u'mvar8',
       u'mvar9', u'mvar10', u'mvar11', u'mvar12', u'mvar13', u'mvar14',
       u'mvar15', u'spend'],
      dtype='object')

In [433]:
test_result= rfc.predict(test_df)

In [434]:
test_df2= pd.read_csv("Leaderboard_Dataset.csv")

In [441]:
rfc_proba= pd.DataFrame(rfc.predict_proba(test_df),  columns= ["r_0", "r_1", "r_2", "r_3"])

In [442]:
test_result_xgb= xgb.predict(test_df)

In [443]:
xgb_proba= pd.DataFrame(xgb.predict_proba(test_df), columns= ["x_0", "x_1", "x_2", "x_3"])

In [444]:
results= pd.DataFrame({
    "rfc":test_result,
    "xgb":test_result_xgb,
    "cm_key":test_df2.cm_key
})

In [445]:
results["equal"]= results.rfc==results.xgb

In [446]:
results= pd.concat([results, rfc_proba, xgb_proba], axis=1)

In [447]:
results["0"]= (results.r_0 + results.x_0)/2
results["1"]= (results.r_1 + results.x_1)/2
results["2"]= (results.r_2 + results.x_2)/2
results["3"]= (results.r_3 + results.x_3)/2

In [448]:
results["max"]= results.iloc[:,-4:].max(axis=1)

In [456]:
results= results.sort_values("max", ascending=False)
results.iloc[1,12]

0.12751750186085703

In [457]:
max_no =[]
for n in range(0, len(results)):
    if (results.iloc[n, -1]== results.iloc[n, 12]):
        max_no.append(0)
    if (results.iloc[n, -1]== results.iloc[n, 13]):
        max_no.append(1)
    if (results.iloc[n, -1]== results.iloc[n, 14]):
        max_no.append(2)
    if (results.iloc[n, -1]== results.iloc[n, 15]):
        max_no.append(3)

In [458]:
results["max_no"]= max_no

In [471]:
submission= results[results.max_no>0][:1000]

In [460]:
results_both= results[results.equal==True]

In [461]:
results_both= results_both[results_both.rfc>0]
results_both

,cm_key,rfc,xgb,equal,r_0,r_1,r_2,r_3,x_0,x_1,x_2,x_3,0,1,2,3,max,max_no
7923,57924,1,1,True,0.170000,0.823333,0.000000,0.006667,0.085035,0.910540,0.000070,0.004355,0.127518,0.866937,0.000035,0.005511,0.866937,1
8072,58073,1,1,True,0.190000,0.806667,0.000000,0.003333,0.078662,0.918314,0.000066,0.002958,0.134331,0.862491,0.000033,0.003146,0.862491,1
9391,59392,1,1,True,0.206667,0.783333,0.000000,0.010000,0.055583,0.938606,0.000051,0.005761,0.131125,0.860969,0.000025,0.007880,0.860969,1
514,50515,1,1,True,0.183333,0.786667,0.000000,0.030000,0.063597,0.928742,0.000074,0.007587,0.123465,0.857704,0.000037,0.018794,0.857704,1
4764,54765,1,1,True,0.213333,0.776667,0.000000,0.010000,0.095538,0.890615,0.000043,0.013804,0.154436,0.833641,0.000021,0.011902,0.833641,1
9045,59046,1,1,True,0.156667,0.823333,0.000000,0.020000,0.096812,0.831335,0.000255,0.071599,0.126739,0.827334,0.000127,0.045799,0.827334,1
5422,55423,1,1,True,0.216667,0.776667,0.003333,0.003333,0.130571,0.862910,0.000250,0.006270,0.173619,0.819789,0.001791,0.004801,0.819789,1
5210,55211,1,1,True,0.180000,0.813333,0.003333,0.003333,0.155292,0.825088,0.000222,0.019398,0.167646,0.819210,0.001778,0.011366,0.819210,1
6923,56924,1,1,True,0.216667,0.776667,0.000000,0.006667,0.109166,0.857168,0.000122,0.033544,0.162916,0.816917,0.000061,0.020106,0.816917,1
1276,51277,1,1,True,0.256667,0.730000,0.010000,0.003333,0.097399,0.896931,0.000053,0.005617,0.177033,0.813465,0.005027,0.004475,0.813465,1
4397,54398,1,1,True,0.260000,0.736667,0.003333,0.000000,0.108526,0.884420,0.000277,0.006777,0.184263,0.810543,0.001805,0.003388,0.810543,1
6039,56040,1,1,True,0.193333,0.760000,0.000000,0.046667,0.119418,0.855175,0.000117,0.025290,0.156376,0.807588,0.000059,0.035978,0.807588,1
9892,59893,1,1,True,0.250000,0.746667,0.000000,0.003333,0.128700,0.865022,0.000148,0.006131,0.189350,0.805844,0.000074,0.004732,0.805844,1
3548,53549,1,1,True,0.226667,0.756667,0.006667,0.010000,0.136485,0.852063,0.000148,0.011304,0.181576,0.804365,0.003407,0.010652,0.804365,1
5485,55486,1,1,True,0.266667,0.723333,0.000000,0.010000,0.110449,0.881995,0.000092,0.007463,0.188558,0.802664,0.000046,0.008732,0.802664,1
2365,52366,1,1,True,0.310000,0.686667,0.003333,0.000000,0.086698,0.909438,0.000085,0.003778,0.198349,0.798053,0.001709,0.001889,0.798053,1
8297,58298,1,1,True,0.293333,0.693333,0.003333,0.010000,0.091007,0.900235,0.000118,0.008640,0.192170,0.796784,0.001726,0.009320,0.796784,1
5628,55629,1,1,True,0.310000,0.686667,0.003333,0.000000,0.103286,0.892974,0.000259,0.003481,0.206643,0.789820,0.001796,0.001740,0.789820,1
9413,59414,1,1,True,0.316667,0.676667,0.000000,0.006667,0.098978,0.899443,0.000114,0.001465,0.207822,0.788055,0.000057,0.004066,0.788055,1
3494,53495,1,1,True,0.280000,0.696667,0.013333,0.010000,0.107211,0.877664,0.000155,0.014969,0.193606,0.787165,0.006744,0.012484,0.787165,1
3807,53808,1,1,True,0.293333,0.693333,0.003333,0.010000,0.123167,0.875700,0.000110,0.001024,0.208250,0.784517,0.001722,0.005512,0.784517,1
7885,57886,1,1,True,0.290000,0.690000,0.003333,0.016667,0.114695,0.873689,0.000062,0.011554,0.202348,0.781844,0.001697,0.014110,0.781844,1
6080,56081,1,1,True,0.306667,0.680000,0.013333,0.000000,0.122706,0.875297,0.000132,0.001866,0.214686,0.777648,0.006732,0.000933,0.777648,1
2234,52235,1,1,True,0.303333,0.680000,0.003333,0.013333,0.122640,0.873072,0.000161,0.004127,0.212987,0.776536,0.001747,0.008730,0.776536,1
1377,51378,1,1,True,0.243333,0.740000,0.006667,0.010000,0.177677,0.806516,0.000272,0.015536,0.210505,0.773258,0.003469,0.012768,0.773258,1
9895,59896,1,1,True,0.216667,0.780000,0.000000,0.003333,0.186739,0.765743,0.000400,0.047118,0.201703,0.772871,0.000200,0.025226,0.772871,1
9313,59314,1,1,True,0.280000,0.670000,0.013333,0.036667,0.121413,0.873765,0.000201,0.004621,0.200706,0.771883,0.006767,0.020644,0.771883,1
9259,59260,1,1,True,0.286667,0.690000,0.000000,0.023333,0.140744,0.850993,0.000198,0.008065,0.213705,0.770496,0.000099,0.015699,0.770496,1
8476,58477,1,1,True,0.276667,0.706667,0.000000,0.016667,0.141804,0.833960,0.000203,0.024034,0.209235,0.770313,0.000102,0.020350,0.770313,1
9632,59633,1,1,True,0.243333,0.743333,0.003333,0.010000,0.173891,0.797104,0.000187,0.028819,0.208612,0.770219,0.001760,0.019409,0.770219,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,54596,2,2,True,0.433333,0.116667,0.440000,0.010000,0.319151,0.235158,0.387017,0.058673,0.376242,0.175913,0.413509,0.034336,0.413509,2
7528,57529,3,3,True,0.253333,0.163333,0.270000,0.313333,0.136730,0.078709,0.273802,0.510759,0.195032,0.121021,0.271901,0.412046,0.412046,3
1443,51444,3,3,True,0.376667,0.170000,0.013333,0.440000,0.277590,0.338068,0.000505,0.383838,0.327128,0.254034,0.006919,0.411919,0.411919,3
1586,51587,3,3,True,0.370000,0.063333,0.176667,0.390000,0.196846,0.131017,0.241282,0.430855,0.283423,0.097175,0.208974,0.410427,0.410427,3
3116,53117,3,3,True,0.253333,0.113333,0.200000,0.433333,0.129266,0.113717,0.371509,0.385507,0.191300,0.113525,0.285755,0.409420,0.409420,3
6618,56619,2,2,True,0.303333,0.203333,0.383333,0.110000,0.244056,0.265779,0.432560,0.057605,0.273695,0.234556,0.407947,0.083803,0.407947,2
1677,51678,2,2,True,0.353333,0.176667,0.380000,0.090000,0.175467,0.288521,0.433717,0.102295,0.264400,0.232594,0.406858,0.096148,0.406858,2
9107,59108,3,3,True,0.360000,0.073333,0.196667,0.370000,0.200236,0.160019,0.203012,0.436733,0.280118,0.116676,0.199840,0.403366,0.403366,3
632,50633,1,1,True,0.363333,0.426667,0.186667,0.023333,0.257432,0.379536,0.291504,0.071529,0.310383,0.403101,0.239085,0.047431,0.403101,1
6394,56395,3,3,True,0.360000,0.083333,0.186667,0.370000,0.258585,0.140250,0.169968,0.431197,0.309293,0.111792,0.178317,0.400599,0.400599,3
7784,57785,3,3,True,0.336667,0.286667,0.003333,0.373333,0.307422,0.268419,0.000510,0.423648,0.322044,0.277543,0.001922,0.398491,0.398491,3
9504,59505,3,3,True,0.266667,0.060000,0.330000,0.343333,0.108038,0.076130,0.367602,0.448230,0.187352,0.068065,0.348801,0.395782,0.395782,3
318,50319,1,1,True,0.396667,0.403333,0.160000,0.040000,0.211229,0.378379,0.265301,0.145092,0.303948,0.390856,0.212650,0.092546,0.390856,1
9321,59322,3,3,True,0.360000,0.263333,0.003333,0.373333,0.221087,0.369765,0.000906,0.408241,0.290544,0.316549,0.002120,0.390787,0.390787,3
8644,58645,3,3,True,0.310000,0.123333,0.106667,0.460000,0.266012,0.170693,0.243885,0.319410,0.288006,0.147013,0.175276,0.389705,0.389705,3
5145,55146,2,2,True,0.346667,0.170000,0.363333,0.120000,0.174450,0.158103,0.416037,0.251410,0.260558,0.164052,0.389685,0.185705,0.389685,2
2117,52118,3,3,True,0.243333,0.106667,0.270000,0.380000,0.113661,0.091141,0.397574,0.397624,0.178497,0.098904,0.333787,0.388812,0.388812,3
9531,59532,3,3,True,0.373333,0.050000,0.196667,0.380000,0.226904,0.134251,0.245057,0.393788,0.300119,0.092125,0.220862,0.386894,0.386894,3
9649,59650,3,3,True,0.296667,0.066667,0.280000,0.356667,0.169091,0.161156,0.258311,0.411442,0.232879,0.113912,0.269155,0.384054,0.384054,3
6598,56599,1,1,True,0.343333,0.353333,0.010000,0.293333,0.264463,0.413755,0.000489,0.321292,0.303898,0.383544,0.005245,0.307313,0.383544,1
9549,59550,3,3,True,0.310000,0.096667,0.250000,0.343333,0.230669,0.124396,0.226172,0.418763,0.270335,0.110531,0.238086,0.381048,0.381048,3
7144,57145,2,2,True,0.236667,0.143333,0.313333,0.306667,0.061300,0.095403,0.444169,0.399127,0.148984,0.119368,0.378751,0.352897,0.378751,2
4521,54522,2,2,True,0.253333,0.153333,0.340000,0.253333,0.131990,0.095762,0.412034,0.360214,0.192662,0.124548,0.376017,0.306773,0.376017,2
3696,53697,2,2,True,0.346667,0.156667,0.363333,0.133333,0.128152,0.146903,0.385028,0.339916,0.237409,0.151785,0.374181,0.236625,0.374181,2
7687,57688,3,3,True,0.350000,0.140000,0.116667,0.393333,0.163853,0.193269,0.290223,0.352656,0.256927,0.166634,0.203445,0.372994,0.372994,3
7715,57716,3,3,True,0.286667,0.076667,0.273333,0.363333,0.307840,0.083123,0.234736,0.374301,0.297253,0.079895,0.254035,0.368817,0.368817,3
8653,58654,2,2,True,0.313333,0.190000,0.350000,0.146667,0.321185,0.185079,0.383156,0.110580,0.317259,0.187539,0.366578,0.128623,0.366578,2
510,50511,3,3,True,0.320000,0.116667,0.236667,0.326667,0.217006,0.192035,0.194408,0.396552,0.268503,0.154351,0.215537,0.361609,0.361609,3
8246,58247,2,2,True,0.266667,0.060000,0.340000,0.333333,0.152174,0.119745,0.382757,0.345323,0.209420,0.089873,0.361379,0.339328,0.361379,2
1247,51248,3,3,True,0.243333,0.153333,0.250000,0.353333,0.212863,0.080334,0.349013,0.357790,0.228098,0.116834,0.299506,0.355562,0.355562,3

In [472]:
submission = submission[["cm_key", "max_no"]]

In [473]:
submission.head()

      cm_key  max_no
7923   57924       1
8072   58073       1
9391   59392       1
514    50515       1
4764   54765       1

In [474]:
submission.max_no.replace(to_replace=1, value="Supp", inplace=True)
submission.max_no.replace(to_replace=2, value="Elite", inplace=True)
submission.max_no.replace(to_replace=3, value="Credit", inplace=True)

In [475]:
submission

      cm_key  max_no
7923   57924    Supp
8072   58073    Supp
9391   59392    Supp
514    50515    Supp
4764   54765    Supp
9045   59046    Supp
5422   55423    Supp
5210   55211    Supp
6923   56924    Supp
1276   51277    Supp
4397   54398    Supp
6039   56040    Supp
9892   59893    Supp
3548   53549    Supp
5485   55486    Supp
2365   52366    Supp
8297   58298    Supp
5628   55629    Supp
9413   59414    Supp
3494   53495    Supp
3807   53808    Supp
7885   57886    Supp
6080   56081    Supp
2234   52235    Supp
1377   51378    Supp
9895   59896    Supp
9313   59314    Supp
9259   59260    Supp
8476   58477    Supp
9632   59633    Supp
...      ...     ...
7997   57998   Elite
9912   59913   Elite
8751   58752   Elite
1564   51565    Supp
4800   54801   Elite
52     50053   Elite
3778   53779   Elite
9997   59998  Credit
4479   54480    Supp
5748   55749    Supp
3922   53923    Supp
8260   58261    Supp
5561   55562  Credit
5209   55210    Supp
5430   55431    Supp
9843   59844   Elite
4305   54306  Credit
9176   59177    Supp
6621   56622    Supp
9855   59856    Supp
3146   53147    Supp
5439   55440    Supp
2108   52109   Elite
5968   55969    Supp
417    50418    Supp
6630   56631    Supp
7811   57812    Supp
1103   51104    Supp
6072   56073   Elite
3132   53133    Supp

[1000 rows x 2 columns]

In [352]:
#submission= submission.reindex_axis(sorted(submission.columns, reverse=True), axis=1)

In [353]:
#submission= submission[:1000]

In [469]:
submission

      cm_key    rfc
7923   57924   Supp
8072   58073   Supp
9391   59392   Supp
514    50515   Supp
4764   54765   Supp
9045   59046   Supp
5422   55423   Supp
5210   55211   Supp
6923   56924   Supp
1276   51277   Supp
4397   54398   Supp
6039   56040   Supp
9892   59893   Supp
3548   53549   Supp
5485   55486   Supp
2365   52366   Supp
8297   58298   Supp
5628   55629   Supp
9413   59414   Supp
3494   53495   Supp
3807   53808   Supp
7885   57886   Supp
6080   56081   Supp
2234   52235   Supp
1377   51378   Supp
9895   59896   Supp
9313   59314   Supp
9259   59260   Supp
8476   58477   Supp
9632   59633   Supp
...      ...    ...
7997   57998  Elite
9912   59913  Elite
8751   58752  Elite
1564   51565      0
4800   54801  Elite
52     50053  Elite
3778   53779      0
9997   59998      0
4479   54480      0
5748   55749      0
3922   53923      0
8260   58261      0
5561   55562      0
5209   55210   Supp
5430   55431      0
9843   59844      0
4305   54306      0
9176   59177      0
6621   56622      0
9855   59856      0
3146   53147   Supp
5439   55440      0
2108   52109      0
5968   55969      0
417    50418      0
6630   56631      0
7811   57812      0
1103   51104      0
6072   56073  Elite
3132   53133      0

[1000 rows x 2 columns]

In [476]:
submission.to_csv("Reckless_Serenade_IITRoorkee_7.csv", header=False, index=False)

In [1]:
test_df2= pd.read_csv("Final_Dataset.csv")

NameError: name 'pd' is not defined